  body {
    color: #5a5a5a;
  }

  figcaption{
    text-align: center;
  }

  
  /* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */
  
  /* Carousel base class */
  .carousel {
    margin-bottom: 4rem;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 15rem;
  }
  .carousel-item > img {
   /* position: absolute;  potrebbe dare l'errore con il carosello sopra la nav bar*/
    top: 0;
    left: 0;
    min-width: 100%;
    height: 15rem;
  }


  /*adattamento desktop*/
  @media screen and (min-width: 768px){

    .carousel-item {
      height: 35rem;
    }
    .carousel-item > img {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      height: 35rem;
    }


  }
